<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>org.pansift.agent</string>
    <key>ProgramArguments</key>
    <array>            
      <string>/Applications/Pansift.app/Contents/MacOS/BitBar</string> 
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <!-- <key>StandardErrorPath</key>
    <string>/tmp/pansift.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/pansift.out</string> -->
  </dict>
</plist>
